// @font-face 
//   font-family: 'proxima-bold'
//   src: url('//p2.zdassets.com/hc/theme_assets/482660/200018834/Proxima_Nova_Bold.woff') format('woff')

// @font-face 
//   font-family: 'proxima-regular'
//   src: url('//p2.zdassets.com/hc/theme_assets/482660/200018834/Proxima_Nova_Regular.woff') format('woff')

// @font-face 
//   font-family: 'proxima-semibold'
//   src: url('//p4.zdassets.com/hc/theme_assets/913881/200060273/proxima-nova-semibold.svg') format('svg'), url('//p4.zdassets.com/hc/theme_assets/913881/200060273/proxima-nova-semibold.ttf') format('truetype')

// @font-face 
//   font-family: 'proxima-thin'
//   src: url('//p2.zdassets.com/hc/theme_assets/482660/200018834/proxima-nova-thin-9e619ad2490098a587bc46fb466bec9b__1_.woff') format('woff'), url('//p2.zdassets.com/hc/theme_assets/482660/200018834/proxima-nova-thin-6fbe9763d2dcda6c55f0bbd22a4835ed.ttf') format('truetype'), url('//p2.zdassets.com/hc/theme_assets/482660/200018834/proxima-nova-thin-f7aae9fd81400f75a2de578c385d13c1.svg') format('svg')


body, html
  font-family: 'Helvetica'


$centralColor: #57bae9
$twitterBlue: #329CC3
$inTweetBlue: #0084B4

input, .tweetTextSize
  // cursor: none !important
  outline: none
  border: none
  margin: 0px
  padding: 0px

.wrapper
  background: white
  width: 100%
  min-height: 100vh

//Pre Profile Section
.backgroundImage
  position: absolute
  z-index: 0
  width: 526px
  filter: blur(2px)
  top: 20%
  left: 42%

.backgroundImageContainer
  display: flex
  justify-content: center
  align-items: center
  width: 526px
  position: absolute
  top: 20%
  left: 42%
  
.backgroundTweet
  width: 560px
  padding: 30px 40px
  background: white
  border-radius: 10px
  position: relative
  transform: scale(0.72, 0.72)

// body/cursor/wrapper
body
  border-top: 2px solid transparent
  border-image: linear-gradient(to right, #8668ad 0, #79ccf2 100%) 1

// .noCursor
//   cursor: none !important

// .cursor
//   background-image: url('https://s3.eu-west-2.amazonaws.com/lifeishappening/fingerUp1.png')
//   width: 37px
//   height: 76px
//   position: fixed
//   top: 0
//   left: 0
//   pointer-events: none
//   opacity: 0
//   transition: opacity .3s ease
//   z-index: 9999

