@font-face 
  font-family: GothamRounded-Medium
  src: url("/fonts/GothamRounded-Medium.woff") format("woff")

@font-face 
  font-family: Gotham-Bold
  src: url("/fonts/Gotham-Bold.woff") format("woff")

@font-face 
  font-family: Gotham-Book
  src: url("/fonts/Gotham-Book.woff") format("woff")

@font-face 
  font-family: Gotham-Medium
  src: url("/fonts/Gotham-Medium.woff") format("woff")

body, html
  font-family: 'Helvetica'
  max-width: 100%
  overflow-x: hidden
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

*, *:before, *:after
  box-sizing: inherit
  outline: none !important

$centralColor: #57bae9
$twitterBlue: #329CC3
$inTweetBlue: #0084B4

input, .tweetTextSize
  // cursor: pointer !important
  outline: none
  border: none
  margin: 0px
  padding: 0px

.borderBox
  box-sizing: content-box

// Global Font Styles
.gothamRM
  font-family: GothamRounded-Medium
  font-size: 46px
  line-height: 52px
  letter-spacing: -0.78px
  @media screen and (max-width: 1199px) and (min-width: 1021px)
    font-size: 3.84vw
    line-height: 4.34vw
    letter-spacing: -0.065vw
  @media screen and (max-width: 414px)
    font-size: 34px
    line-height: 45px
    letter-spacing: -0.78px
  @media screen and (max-width: 375px)
    font-size: 32px
    line-height: 42px
  @media screen and (max-width: 355px)
    font-size: 9.01vw
    line-height: 11.83vw


.gothamBook
  font-family: Gotham-Book
  font-size: 21px
  line-height: 29px
  letter-spacing: -0.78px
  @media screen and (max-width: 1199px) and (min-width: 1021px)
    font-size: 1.75vw
    line-height: 2.42vw
    letter-spacing: -0.065vw
  @media screen and (max-width: 414px)
    font-size: 18px
    line-height: 27px
    letter-spacing: -0.78px
  @media screen and (max-width: 375px)
    font-size: 16px
    line-height: 24px
  @media screen and (max-width: 355px)
    font-size: 4.51vw
    line-height: 6.76vw
