.page2Wrapper
  height: 76vh
  position: relative
  @media screen and (max-width: 1020px)
  	display: flex
  	justify-content: center
  	flex-wrap: wrap
  	height: auto

.P2WrapperBackground
	z-index: -2
	position: absolute
	top: 0
	left: 0
	transform: translateY(-520px)
	@media screen and (max-width: 1258px)
		transform: translateY(-495px)
	@media screen and (max-width: 1230px)
		transform: translateY(-465px)
	@media screen and (max-width: 1199px)
		transform: translateY(-455px)
	@media screen and (max-width: 1160px)
		transform: translateY(-425px)
	@media screen and (max-width: 1130px)
		transform: translateY(-400px)
	@media screen and (max-width: 1081px)
		transform: translateY(-380px)

.P2WrapperBackgroundTablet
	display: none
	z-index: -2
	@media screen and (max-width: 1020px)
		position: absolute
		width: 100%
		transform: translateY(-930px)
		display: block
	@media screen and (max-width: 995px)
		transform: translateY(-670px)
	@media screen and (max-width: 972px)
		transform: translateY(-620px)
	@media screen and (max-width: 930px)
		transform: translateY(-565px)
	@media screen and (max-width: 883px)
		transform: translateY(-510px)
	@media screen and (max-width: 850px)
		transform: translateY(-470px)
	@media screen and (max-width: 810px)
		transform: translateY(-435px)
	@media screen and (max-width: 768px)
		transform: translateY(-400px)
	@media screen and (max-width: 740px)
		display: none

.P2WrapperBackgroundTabletSmaller
	display: none
	z-index: -2
	@media screen and (max-width: 740px)
		display: block
		width: 100%
		position: absolute
		transform: translateY(-880px)
	@media screen and (max-width: 720px)
		transform: translateY(-840px)
	@media screen and (max-width: 705px)
		transform: translateY(-810px)
	@media screen and (max-width: 690px)
		transform: translateY(-770px)
	@media screen and (max-width: 668px)
		transform: translateY(-710px)
	@media screen and (max-width: 636px)
		transform: translateY(-680px)
	@media screen and (max-width: 630px)
		display: none

.P2WrapperBackgroundPhone
	display: none
	width: 100%
	position: absolute
	z-index: -2
	@media screen and (max-width: 414px)
		display: block
		transform: translateY(-260px)
	@media screen and (max-width: 375px)
		transform: translateY(-220px)
	@media screen and (max-width: 360px)
		transform: translateY(-190px)
	@media screen and (max-width: 350px)
		transform: translateY(-160px)

.bodyContainerp2 
	position: absolute
	width: 455px
	z-index: 2
	top: 8vh
	right: 5%
	transform: translateY(-9px)
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 37.94vw
	@media screen and (max-width: 1020px)
		position: static
		right: 0
		top: 0
		height: auto
		display: flex
		flex-wrap: wrap
		justify-content: center

.federerVideo
	position: relative
	width: 560px
	top: 8vh
	left: 6.5%
	@media screen and (max-width: 1260px)
		width: 540px
		transform: translateY(+10px)
	@media screen and (max-width: 1230px)
		left: 4.5%
	@media screen and (max-width: 1196px)
		transform: translateY(7px)
	@media screen and (max-width: 1166px)
		transform: translateY(4px)
	@media screen and (max-width: 1145px)
		transform: translateY(0px)
	@media screen and (max-width: 1140px)
		transform: translateY(-2px)
	@media screen and (max-width: 1130px)
		width: 530px
		transform: translateY(2px)
	@media screen and (max-width: 1120px)
		transform: translateY(0px)
		width: 522px
	@media screen and (max-width: 1090px)
		transform: translateY(-4px)
	@media screen and (max-width: 1080px)
		width: 510px
	@media screen and (max-width: 1020px)
		margin-top: 60px
		width: 540px
	@media screen and (max-width: 414px)
		width: 340px
		height: 191.25px
		margin-top: 10px
		margin-bottom: 10px
		top: 0
		left: 0
	@media screen and (max-width: 375px)
		width: 305px
		height: 171.5625px
	@media screen and (max-width: 350px)
		width: 285px
		height: 160.3125px

.headerTextp2
	width: 455px
	height: 112px
	color: #34434b
	margin-bottom: 14px
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 37.94vw
		height: 9.34vw
		margin-bottom: 1.17vw
	@media screen and (max-width: 1020px)
		text-align: center
		margin-bottom: 30px
	@media screen and (max-width: 414px)
		margin-top: 40px
		width: 404px
		height: auto
	@media screen and (max-width: 375px)
		width: 98.67vw

.actionCheckContainer
	width: 100%
	display: flex
	align-items: center
	margin-bottom: 15px
	@media screen and (max-width: 1020px)
		width: 90%
	@media screen and (max-width: 414px)
		width: 320px
	@media screen and (max-width: 375px)
		width: 77.29vw
	@media screen and (max-width: 340px)
		width: 280px


.checkmarkOutline
	width: 29px
	height: 29px
	fill: #2c76d1
	margin-right: 21px
	align-self: flex-start
	transform: translateY(2px)
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 2.42vw
		height: 2.42vw
		margin-right: 1.75vw
	@media screen and (max-width: 414px)
		width: 24px !important
		height: 24px !important
		margin-right: 17px

.instruction
	width: 380px
	color: #28333a
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 31.69vw
	@media screen and (max-width: 414px)
		width: 272px
	@media screen and (max-width: 375px)
		width: 250px
	@media screen and (max-width: 360px)
		width: 256px

.instruction1
	width: 370px
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 30.86vw
	@media screen and (max-width: 414px)
		width: 272px
	@media screen and (max-width: 375px)
		width: 250px
	@media screen and (max-width: 360px)
		width: 256px

.instruction2
	width: 330px
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 27.52vw
	@media screen and (max-width: 414px)
		width: 272px
	@media screen and (max-width: 375px)
		width: 250px
	@media screen and (max-width: 360px)
		width: 256px

.rfHandle
	display: inline-block
	color: #55acee


