.page2Wrapper
  height: 76vh
  position: relative
  @media screen and (max-width: 1020px)
  	display: flex
  	justify-content: center
  	flex-wrap: wrap
  	height: auto

.P2WrapperBackground
	z-index: -2
	position: absolute
	top: 0
	left: 0
	width: 100%
	transform: translateY(-380px)
	@media screen and (max-width: 1170px)
		transform: translateY(-310px)
	@media screen and (max-width: 1090px)
		transform: translateY(-270px)
	@media screen and (max-width: 1050px)
		transform: translateY(-240px)
	@media screen and (max-width: 1020px)
		display: none

.P2WrapperBackgroundTablet
	display: none
	z-index: -2
	@media screen and (max-width: 1020px)
		position: absolute
		width: 100%
		transform: translateY(-930px)
		display: block
	@media screen and (max-width: 995px)
		transform: translateY(-670px)
	@media screen and (max-width: 972px)
		transform: translateY(-620px)
	@media screen and (max-width: 930px)
		transform: translateY(-565px)
	@media screen and (max-width: 883px)
		transform: translateY(-510px)
	@media screen and (max-width: 850px)
		transform: translateY(-470px)
	@media screen and (max-width: 810px)
		transform: translateY(-435px)
	@media screen and (max-width: 768px)
		transform: translateY(-400px)
	@media screen and (max-width: 740px)
		display: none

.P2WrapperBackgroundTabletSmaller
	display: none
	z-index: -2
	@media screen and (max-width: 740px)
		display: block
		width: 100%
		position: absolute
		transform: translateY(-880px)
	@media screen and (max-width: 720px)
		transform: translateY(-840px)
	@media screen and (max-width: 705px)
		transform: translateY(-810px)
	@media screen and (max-width: 690px)
		transform: translateY(-770px)
	@media screen and (max-width: 668px)
		transform: translateY(-710px)
	@media screen and (max-width: 636px)
		transform: translateY(-680px)
	@media screen and (max-width: 630px)
		display: none

.P2WrapperBackgroundPhone
	display: none
	width: 100%
	position: absolute
	z-index: -2
	@media screen and (max-width: 414px)
		display: block
		transform: translateY(-400px)


.bodyContainerp2 
	position: absolute
	width: 455px
	height: 341px
	z-index: 2
	top: 8vh
	right: 5%
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 37.94vw
		height: 28.44vw
	@media screen and (max-width: 1020px)
		position: static
		right: 0
		top: 0
		height: auto
		display: flex
		flex-wrap: wrap
		justify-content: center

.federerVideo
	position: relative
	width: 560px
	top: 8vh
	left: 7%
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		left: 5%
	@media screen and (max-width: 1020px)
		margin-top: 60px
	@media screen and (max-width: 414px)
		position: relative
		margin-top: 40px
		top: 0%
		left: 0%

.headerTextp2
	width: 455px
	height: 112px
	color: #34434b
	margin-bottom: 10px
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 37.94vw
		height: 9.34vw
		margin-bottom: 0.83vw
	@media screen and (max-width: 1020px)
		text-align: center
		margin-bottom: 30px
	@media screen and (max-width: 414px)
		margin-top: 40px
		width: 404px
		height: auto
	@media screen and (max-width: 375px)
		width: 98.67vw

.actionCheckContainer
	width: 100%
	display: flex
	align-items: center
	@media screen and (max-width: 1020px)
		width: 90%
	@media screen and (max-width: 414px)
		width: 344px
	@media screen and (max-width: 375px)
		width: 83vw


.checkmarkOutline
	width: 29px
	height: 29px
	fill: #2c76d1
	margin-right: 21px
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 2.09vw
		height: 2.09vw
		margin-right: 1.58vw
	@media screen and (max-width: 414px)
		width: 24px
		height: 24px
		margin-right: 19px

.instruction
	width: 361px
	height: 74px
	color: #28333a
	display: flex
	align-items: center
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 30.11vw
		height: 6.17vw
	@media screen and (max-width: 414px)
		width: 328px

.instruction1
	width: 312px
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 26.02vw
	@media screen and (max-width: 414px)
		width: 267px

.instruction2
	width: 308px
	@media screen and (max-width: 1199px) and (min-width: 1021px)
		width: 25.69vw
	@media screen and (max-width: 414px)
		width: 277px


