.videoWrapper
  position: relative
  width: 628px
  height: 363px
  top: 8vh
  left: 3%
  @media screen and (max-width: 1199px) and (min-width: 1021px)
    width: 52.38vw
    height: 30.28vw
    left: 1.5vw
  @media screen and (max-width: 1020px)
    top: 0
    left: 0
    margin-top: 60px
  @media screen and (max-width: 414px)
    margin-top: 40px
    height: 234px

