doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:v="urn:schemas-microsoft-com:vml", xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    title
    // [if !mso] <!
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    // <![endif]
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    style
      include emailStyles1.css
  body
    .mj-container
      //if mso | IE
        table(role="presentation", border="0", cellpadding="0", cellspacing="0", width="600", align="center", style="width:600px;")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      div(style="margin:0 auto;max-width:600px;background:green")
        table(role="presentation", cellpadding="0", cellspacing="0", style="font-size:0;width:100%;background:green", align="center", border="0")
          tbody
            tr
              td(style="text-align:center;vertical-align:top;direction:ltr;font-size:0;padding:20px 0;padding-bottom:10px;padding-top:10px")
                //if mso | IE
                  table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:600px;")
                .mj-column-per-100.outlook-group-fix(style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%")
                  table(role="presentation", cellpadding="0", cellspacing="0", width="100%", border="0")
                    tbody
                      tr
                        td(style="word-wrap:break-word;font-size:0;padding:10px 25px", align="left")
                          table(role="presentation", cellpadding="0", cellspacing="0", style="border-collapse:collapse;border-spacing:0", align="left", border="0")
                            tbody
                              tr
                                td(style="width:180px")
                                  img(alt="", height="auto", src="https://s3.eu-west-2.amazonaws.com/lifeishappening/finalLogoUnlessCompress.png", style="border:none;border-radius:0;display:block;font-size:13px;outline:0;text-decoration:none;width:100%;height:auto", width="180")
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role="presentation", border="0", cellpadding="0", cellspacing="0", width="600", align="center", style="width:600px;")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      div(style="margin:0 auto;max-width:600px")
        table(role="presentation", cellpadding="0", cellspacing="0", style="font-size:0;width:100%", align="center", border="0")
          tbody
            tr
              td(style="text-align:center;vertical-align:top;direction:ltr;font-size:0;padding:20px 0;padding-bottom:0;padding-left:25px")
                //if mso | IE
                  table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:600px;")
                .mj-column-per-100.outlook-group-fix(style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%")
                  table(role="presentation", cellpadding="0", cellspacing="0", width="100%", border="0")
                    tbody
                      tr
                        td(style="word-wrap:break-word;font-size:0;padding:10px 25px;padding-left:0", align="left")
                          div(style="cursor:auto;color:#212121;font-family:Helvetica;font-size:23px;line-height:22px;text-align:left") Thanks for your payment
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role="presentation", border="0", cellpadding="0", cellspacing="0", width="600", align="center", style="width:600px;")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      div(style="margin:0 auto;max-width:600px")
        table(role="presentation", cellpadding="0", cellspacing="0", style="font-size:0;width:100%", align="center", border="0")
          tbody
            tr
              td(style="text-align:center;vertical-align:top;direction:ltr;font-size:0;padding:20px 0;padding-bottom:0;padding-left:0;padding-top:0")
                //if mso | IE
                  table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:600px;")
                .mj-column-per-100.outlook-group-fix(style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%")
                  table(role="presentation", cellpadding="0", cellspacing="0", width="100%", border="0")
                    tbody
                      tr
                        td(style="word-wrap:break-word;font-size:0;padding:10px 25px", align="left")
                          div(style="cursor:auto;color:#212121;font-family:Helvetica;font-size:15px;line-height:22px;text-align:left") Your canvas will be in the post within three working days.
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role="presentation", border="0", cellpadding="0", cellspacing="0", width="600", align="center", style="width:600px;")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      div(style="margin:0 auto;max-width:600px")
        table(role="presentation", cellpadding="0", cellspacing="0", style="font-size:0;width:100%", align="center", border="0")
          tbody
            tr
              td(style="text-align:center;vertical-align:top;direction:ltr;font-size:0;padding:20px 0;padding-bottom:0;padding-left:0;padding-top:0")
                //if mso | IE
                  table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:600px;")
                .mj-column-per-100.outlook-group-fix(style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%")
                  table(role="presentation", cellpadding="0", cellspacing="0", width="100%", border="0")
                    tbody
                      tr
                        td(style="word-wrap:break-word;font-size:0;padding:10px 25px;padding-bottom:0", align="left")
                          div(style="cursor:auto;color:#000;font-family:Helvetica;font-size:15px;line-height:22px;text-align:left") Size: A0 (841 x 1189 mm)
                      tr
                        td(style="word-wrap:break-word;font-size:0;padding:10px 25px;padding-top:0", align="left")
                          div(style="cursor:auto;color:#212121;font-family:Helvetica;font-size:15px;line-height:22px;text-align:left") Total: £30
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role="presentation", border="0", cellpadding="0", cellspacing="0", width="600", align="center", style="width:600px;")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      div(style="margin:0 auto;max-width:600px")
        table(role="presentation", cellpadding="0", cellspacing="0", style="font-size:0;width:100%", align="center", border="0")
          tbody
            tr
              td(style="text-align:center;vertical-align:top;direction:ltr;font-size:0;padding:20px 0;padding-left:0;padding-top:0")
                //if mso | IE
                  table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:600px;")
                .mj-column-per-100.outlook-group-fix(style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%")
                  table(role="presentation", cellpadding="0", cellspacing="0", width="100%", border="0")
                    tbody
                      tr
                        td(style="word-wrap:break-word;font-size:0;padding:10px 25px", align="left")
                          div(style="cursor:auto;color:#212121;font-family:Helvetica;font-size:15px;line-height:22px;text-align:left") If you have any questions please reply to this email.
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role="presentation", border="0", cellpadding="0", cellspacing="0", width="600", align="center", style="width:600px;")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      div(style="margin:0 auto;max-width:600px;background:#f2f2f2")
        table(role="presentation", cellpadding="0", cellspacing="0", style="font-size:0;width:100%;background:#f2f2f2", align="center", border="0")
          tbody
            tr
              td(style="text-align:center;vertical-align:top;direction:ltr;font-size:0;padding:20px 0;padding-bottom:5px;padding-top:10px")
                //if mso | IE
                  table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:600px;")
                .mj-column-per-100.outlook-group-fix(style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%")
                  table(role="presentation", cellpadding="0", cellspacing="0", width="100%", border="0")
                    tbody
                      tr
                        td(style="word-wrap:break-word;font-size:0;padding:10px 25px", align="left")
                          table(role="presentation", cellpadding="0", cellspacing="0", style="border-collapse:collapse;border-spacing:0", align="left", border="0")
                            tbody
                              tr
                                td(style="width:80px")
                                  img(alt="", height="auto", src="https://s3.eu-west-2.amazonaws.com/lifeishappening/finalLogoUnlessCompress.png", style="border:none;border-radius:0;display:block;font-size:13px;outline:0;text-decoration:none;width:100%;height:auto", width="80")
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role="presentation", border="0", cellpadding="0", cellspacing="0", width="600", align="center", style="width:600px;")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      div(style="margin:0 auto;max-width:600px;background:#f2f2f2")
        table(role="presentation", cellpadding="0", cellspacing="0", style="font-size:0;width:100%;background:#f2f2f2", align="center", border="0")
          tbody
            tr
              td(style="text-align:center;vertical-align:top;direction:ltr;font-size:0;padding:20px 0;padding-bottom:0;padding-left:25px;padding-top:0")
                //if mso | IE
                  table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                    tr
                      td(style="vertical-align:undefined;width:600px;")
                div(style="cursor:auto;color:#bbb;font-family:Helvetica;font-size:12px;line-height:22px;text-align:left") This email was sent by 140 Canvas
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role="presentation", border="0", cellpadding="0", cellspacing="0", width="600", align="center", style="width:600px;")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      div(style="margin:0 auto;max-width:600px;background:#f2f2f2")
        table(role="presentation", cellpadding="0", cellspacing="0", style="font-size:0;width:100%;background:#f2f2f2", align="center", border="0")
          tbody
            tr
              td(style="text-align:center;vertical-align:top;direction:ltr;font-size:0;padding:20px 0;padding-bottom:15px;padding-left:25px;padding-top:0")
                //if mso | IE
                  table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                    tr
                      td(style="vertical-align:undefined;width:600px;")
                div(style="cursor:auto;color:#bbb;font-family:Helvetica;font-size:12px;line-height:22px;text-align:left") Warberheath, Chichester, PO18 8AB
                //if mso | IE
      //if mso | IE