.page1Wrapper
	height: 100%
	width: 100%
	position: relative
	@media screen and (max-width: 1060px)
		display: flex
		justify-content: center
		flex-wrap: wrap
		height: auto

// BACKGROUNDS
.P1WrapperBackground
	height: 100%
	width: 100%
	background-image: linear-gradient(155deg, #243BED 32%, #3B79FF 93%)
	position: absolute
	top: 0
	left: 0
	transform: skewY(-12deg) translateY(-20%)
	box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.30)
	@media screen and (max-width: 1060px)
		transform: skewY(-15deg) translateY(-14%)
	@media screen and (max-width: 550px)
		transform: skewY(-15deg) translateY(-7%)

.examplePhoto
	position: absolute
	width: 638px
	height: 432.8px
	z-index: 2
	bottom: 17%
	right: 1%
	opacity: 0
	@media screen and (max-width: 1199px) and (min-width: 1061px)
		width: 586.96px
		height: 398.2px
	@media screen and (max-width: 1060px)
		position: static
		margin-bottom: 75px
	@media screen and (max-width: 650px)
		width: 528px
		height: 358px
	@media screen and (max-width: 550px)
		width: 422.4px
		height: 286.4px
		margin-top: 40px
		margin-bottom: 10px
	@media screen and (max-width: 435px)
		width: 338px
		height: 228px

// Header
.canvasLogo
	width: 228.44px
	height: 61.6896px
	margin-top: 42px
	left: 7%
	position: relative
	@media screen and (max-width: 1230px)
		left: 5%
	@media screen and (max-width: 1199px) and (min-width: 1061px)
		width: 17.79vw
		height: 4.80vw
	@media screen and (max-width: 1060px) and (min-width: 551px)
		left: 0
		margin-left: 30vw
		margin-right: 30vw
		margin-top: 55px
		margin-bottom: 55px
	@media screen and (max-width: 550px)
		width: 181.3px
		height: 48.96px
		margin-top: 40px
		margin-bottom: 40px
		left: 0


.bodyContainer
	position: absolute
	top: 27%
	left: 7%
	width: 469px
	z-index: 2
	@media screen and (max-width: 1230px)
		left: 5%
	@media screen and (max-width: 1199px) and (min-width: 1061px)
		width: 39.12vw
	@media screen and (max-width: 1060px)
		display: flex
		flex-wrap: wrap
		justify-content: center
		position: static
		top: 0
		left: 0
		margin-left: 6vw
		margin-right: 6vw

.headerText
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
	color: #ffffff
	opacity: 0
	@media screen and (max-width: 1060px)
		text-align: center
	@media screen and (max-width: 550px)
		width: 335px
		height: auto

.underpants
	@media screen and (max-width: 2000px) and (min-width: 1061px)
		width: 420px !important
		display: inline-block

.bodyText
	width: 365px
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
	color: #ffffff
	margin-top: 30px
	margin-bottom: 48px
	opacity: 0
	@media screen and (max-width: 1199px) and (min-width: 1061px)
		width: 30.44vw
		margin-top: 2.50vw
		margin-bottom: 4.00vw
	@media screen and (max-width: 1060px)
		text-align: center
		margin-top: 49px
		margin-bottom: 65px
	@media screen and (max-width: 550px)
		margin-top: 30px
		margin-bottom: 47px
		width: 310px
	@media screen and (max-width: 375px)
		width: 298px
	@media screen and (max-width: 355px)
		width: 83.94vw

// call to Action Button

.ctaSectionGlitch
	width: 318px
	height: 69px
	box-shadow: 0 4px 6px 5px rgba(50, 50, 93, 0.33), 0 1px 3px 1px rgba(0, 0, 0, 0.35)
	border-radius: 4px
	background-color: #ffffff
	position: relative
	display: flex
	align-items: center
	&:hover
		cursor: pointer
		box-shadow: 0 7px 18px 5px rgba(50,50,93,.33), 0 3px 10px 1px rgba(0,0,0,.35)
		transform: translateY(-1px)
	@media screen and (max-width: 1199px) and (min-width: 1061px)
		width: 26.52vw
		height: 5.75vw
	@media screen and (max-width: 1060px) and (min-width: 551px)
		display: none
	@media screen and (max-width: 550px)
		width: 293px
		height: 56px
	@media screen and (max-width: 355px)
		width: 234.4px
		height: 44.8px

.ctaMoney
	width: 25%
	height: 70%
	color: #235fc6
	font-family: Gotham-Bold
	font-size: 26px
	letter-spacing: -0.2px
	display: flex
	justify-content: center
	align-items: center
	border-right: 2px solid #235fc6
	padding-left: 15px
	padding-right: 10px
	@media screen and (max-width: 1199px) and (min-width: 1061px)
		font-size: 2.17vw
		padding-left: 1.251vw
		padding-right: 0.834vw
	@media screen and (max-width: 550px)
		font-size: 22px
		height: 65%
	@media screen and (max-width: 355px)
		font-size: 17.6px
		height: 65%

.boldBookWrapper
	height: 60%
	width: 72%
	display: flex
	flex-wrap: wrap
	justify-content: center

.ctaBold
	width: 100%
	height: 22px
	color: #235fc6
	font-family: Gotham-Bold
	font-size: 22px
	letter-spacing: -0.2px
	text-align: center
	@media screen and (max-width: 1199px) and (min-width: 1061px)
		height: 1.83vw
		font-size: 1.83vw
		letter-spacing: -0.017vw
	@media screen and (max-width: 550px)
		font-size: 20px
		height: 22px
	@media screen and (max-width: 355px)
		font-size: 16px
		height: 17.6px

.ctaBook
	width: 100%
	height: 14px
	color: #235fc6
	font-family: Gotham-Book
	font-size: 14px
	letter-spacing: -0.2px
	text-align: center
	transform: translateY(2px)
	@media screen and (max-width: 1199px) and (min-width: 1061px)
		height: 1.17vw
		font-size: 1.17vw
		letter-spacing: -0.017vw
		transform: translateY(0.167vw)
	@media screen and (max-width: 550px)
		font-size: 12px
		height: 12px
	@media screen and (max-width: 355px)
		font-size: 9.6px
		height: 9.6px

// animations

@keyframes fadeInUp
	0%
		opacity: 0
		transform: translateY(519px)
	40%
		opacity: 0.3
	100%
		opacity: 1
		transform: translateY(0)

.animatedHeader
	animation: 0.75s cubic-bezier(.16,.4,.19,.99) 0s 1 fadeInUp
	animation-fill-mode: both

.animatedBody
	animation: 0.82s cubic-bezier(.16,.4,.19,.99) 0.1s 1 fadeInUp
	animation-fill-mode: both

.animatedImg
	animation: 0.7s cubic-bezier(.16,.4,.19,.99) 0.45s 1 fadeInUp
	animation-fill-mode: both


